@import "variables";
/*----------------------------------------
      共通部分
----------------------------------------*/
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%; //ルートのフォントサイズを10pxに設定
  box-sizing: border-box;
}
body{
  font-family: "A-OTF Ryumin Pr6N", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 1.6rem;//bodyを1.6emと指定する事で、その他は何も指定しなければ、16pxとなるとための設定
}
%fontPostText{
  font-family: 'Abril Fatface';
}
.bodyWrapper{//フッターをページの下端にくっつける
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
li{
  list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
  width: 100%;
  vertical-align: middle;//画像下の謎余白消す
}
%table{
  border-collapse: separate;
}
%postionCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.br-sp{
  display: none;
}
%pageTitle{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.7rem;

}
%pageTitle--japanese{
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  width: 7rem;
  margin: 0 auto 2.6rem;
  z-index: -1;

  &::before,&::after{
    content: '';
    display: inline-block;
    width: 22px;
    height: 1px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    background-color: #333;
  }
  &::before{
    left: -25px;
  }
  &::after{
    right: -25px;
  }
}


/*----------------------------------------
      タブレット向け
----------------------------------------*/
@media (min-width: 600px) {
}
/*----------------------------------------
      pc向け
----------------------------------------*/
@media (min-width: 1025px) {
  .br-sp{
    display: block;
  }
}