@import "variables";
/*----------------------------------------
      共通部分
----------------------------------------*/
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%; //ルートのフォントサイズを10pxに設定
  box-sizing: border-box;
}
body{
  font-family: "A-OTF Ryumin Pr6N", 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif"メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 1.6rem;//bodyを1.6emと指定する事で、その他は何も指定しなければ、16pxとなるとための設定
}
%fontPostText{
  font-family: 'ABeeZee';
}
.bodyWrapper{//フッターをページの下端にくっつける
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
li{
  list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
  width: 100%;
  vertical-align: middle;//画像下の謎余白消す
}
%table{
  border-collapse: separate;
}
.br-sp{
  display: none;
}

.titleWrapper{
  text-align: center;
}
%pageTitle{
  font-size: 2rem;
  text-align: center;
}
%pageTitle--japanese{
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  z-index: -1;
  &::before,&::after{
    content: '';
    display: inline-block;
    width: 22px;
    height: 1px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    background-color: #333;
  }
  &::before{
    left: -25px;
  }
  &::after{
    right: -25px;
  }
}

.navLinks{
  width: 69%;
  max-width: 300px;
  margin: 0 auto;

  .navLinks__prev{
    height: auto;
    &>img{
      width: 10px;
    }
  }
  .navLinks__next{
    height: auto;
    &>img{
      width: 10px;
    }
  }
  .navLinks__numbers{
    background-color: #c1c1c1;
    color: white;
    border-radius: 50%;
    margin-left: 0.5rem;
    padding: 3px 6px;

    &.active{
      background-color: #333;
    }
  }
}


.BlogCard{
  width: 44.5%;
  margin-bottom: 2.5rem;
  transition: 0.3s all;
  position: relative;

  &__category{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    background-color: navy;
    color: white;
    padding: 1px 5px;
  }
  &__image{
    height: auto;
    margin-bottom: 1rem;
    &>img{
      height: 96px;
      object-fit: cover;
    }
  }
  &__title{
    @extend %fontPostText;
    font-size: 1.4rem;
  }

  &:hover{
    transform: translateY(-3%);
  }
}

.breadcrumb {
  padding: 0.4rem 1rem;
  font-size: 14px;
  position: fixed;
  top: 58px;
  width: 100%;
  z-index: 9;
}

/*----------------------------------------
      タブレット向け
----------------------------------------*/
@media (min-width: 600px) {
}
/*----------------------------------------
      pc向け
----------------------------------------*/
@media (min-width: 1025px) {
  .br-sp{
    display: block;
  }
}