.home{
  width: 95%;
  max-width: 700px;
  margin: 11rem auto 6rem;

  .home__title{
    @extend %pageTitle;
    margin-bottom: 0.7rem;
  
    &--japanese{
      @extend %pageTitle--japanese;
      margin-bottom: 3rem;
    }
  }
}

.home__blogWrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 86%;
  margin: 0 auto;
}

/*----------------------------------------
      タブレット向け
----------------------------------------*/
@media (min-width: 600px) {
}
/*----------------------------------------
      pc向け
----------------------------------------*/
@media (min-width: 1025px) {
}