.single{
  width: 83%;
  max-width: 700px;
  margin: 11rem auto 8rem;

  &__touch{
    text-align: right;
  }
  .singleEdit,.singleDelete{
    @extend %fontPostText;
    font-size: 1.6rem;
  }
  .singleEdit{
    color: #BAA1FF;
    margin-right: 1rem;
  }
  .singleDelete{
    color: #FF7979;
  }

  
  &__title{
    @extend %fontPostText;
    font-size: 2rem;
    line-height: calc(23/18);
    letter-spacing: -10%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  &__category{
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    background-color: navy;
    color: white;
    padding: 1px 5px;
  }
  &__image{
    height: auto;
    margin-bottom: 2rem;
    &>img{
      object-fit: cover;
    }
  }

  .single__texts{
    @extend %fontPostText;
    & > h1{
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 2rem;
      padding: 2rem 2rem;
      border-left: solid 5px navy;
      background-color: #ececff;
      border-radius: 5px;
    }
    & strong {
      background-color: #ffff72;
      padding: 3px;
    }

    & pre {
      padding: 10px;
      background-color: #e9e9e9;
    }
  }
}

.Related{
  .Related__title{
    @extend %pageTitle;
    margin-bottom: 0.7rem;
    &--japanese{
      @extend %pageTitle--japanese;
      margin-bottom: 3rem;
    }
  }
}

.Related__blogWrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 86%;
  margin: 0 auto;
}