.create{
  width: 95%;
  max-width: 700px;
  margin: 7.7rem auto 0;
  &__title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.7rem;

    &--japanese{
      font-size: 1.6rem;
      text-align: center;
      position: relative;
      width: 7rem;
      margin: 0 auto 2.6rem;
      z-index: -1;

      &::before,&::after{
        content: '';
        display: inline-block;
        width: 22px;
        height: 1px;
        opacity: 0.7;
        position: absolute;
        top: 50%;
        background-color: #333;
      }
      &::before{
        left: -25px;
      }
      &::after{
        right: -25px;
      }
    }
  }
}
.create__form{
  width: 87%;
  margin: 0 auto;
  
  label{
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
    display: block;
  }

  input:not(:last-of-type),textarea{
    background-color: #e7e7e7;
    padding: 0.1rem;
    margin-bottom: 1.6rem;
    display: block;
    width: 100%;
  }

  textarea{
    height: 32.6rem;
  }

  .create__btn{
    width: 9.6rem;
    height: 3.1rem;
    background-color: #333;
    color: white;
    display: grid;
    place-items: center;
    margin: 2rem auto 0;
  }
}