
.profile{
  margin-bottom: 5rem;
  .profile__title{
    @extend %pageTitle;
    margin-bottom: 1rem;
  
    &--japanese{
      @extend %pageTitle--japanese;
      margin-bottom: 1rem;
    }
  }

  .profile__avatar{
    width: 132px;
    height: 132px;
    margin: 0 auto 1rem;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
    overflow: hidden;
    position: relative;
    &>img{
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .profile__text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .profile__name{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .profile__body{
    text-align: left;
    font-size: 1.4rem;
  }
  .profile__contactLink,.profile__aboutMe{
    display: grid;
    place-items: center;
    width: 109px;
    height: 36px;
    background-color: #A4AFCA;
    border-radius: 4px;
    color: white;
    margin: 0 auto 1rem;
  }
}

.categories{
  width: 70%;
  margin: 0 auto;
  .categories__title{
    @extend %pageTitle;
    margin-bottom: 0.7rem;
  
    &--japanese{
      @extend %pageTitle--japanese;
      margin-bottom: 1rem;
    }
  }

  &__menu{
    .categories__menuItem{
      position: relative;
      &::before{
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #c1c1c1;
        position: absolute;
        top: 56%;
        left: -17px;
        transform: translateY(-50%);
      }
      &>a{
        @extend %fontPostText;
        font-size: 1.4rem;
      }
    }
  }
}

/*----------------------------------------
      768px以上
----------------------------------------*/
@media (min-width: 768px) {
  .sidebar{
    margin-top: 11rem;
  }
}